.header {
  padding-top: 16px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;

  @include vp-767 {
    padding-bottom: 30px;
  }
}

.header__buttons-mobile {
  display: none;

  @include vp-767 {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.header__toggles {
  @include vp-767 {
    border: none;
    background-color: $color-default-white;
  }
}

.header__toggle {
  @include vp-767 {
    opacity: 1;
    position: relative;
  }
}

.header__toggle.is-hidden {
  @include vp-767 {
    position: absolute;
    opacity: 0;
  }
}

.header__logo-wrapper {
  margin-right: 30px;
  min-height: 134px;
  min-width: 210px;

  @include vp-767 {
    margin-bottom: 28px;
  }
}

@media (min-width: 1024px) and (max-width: 1030px) {
  .header__logo-wrapper {
    margin-right: 10px;
  }
}

.header__logo--main {
  pointer-events: none;
}

.header__top,
.header__bottom,
.header__info,
.header__info-top,
.header__info-bottom,
.header-reg,
.header__cities {
  display: flex;
}

.header__top {
  align-items: flex-start;
  margin-bottom: 26px;

  @include vp-767 {
    flex-direction: column;
    margin-bottom: 0;
    position: relative;
  }
}

.header__bottom {
  @include vp-767 {
    display: none;
  }
}

.header__info {
  flex-direction: column;
  width: 100%;

  @include vp-1023 {
    overflow: hidden;
  }
}

.header__images-wrapper {
  display: grid;
  grid-row-gap: 15px;
  grid-column-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;

  @include vp-1023 {
    display: none;
  }
}

.header-list,
.header-reg,
.header-cart,
.header__cities {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.header-list {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content max-content max-content max-content;
  grid-row-gap: 25px;
  grid-column-gap: 25px;

  @include vp-1023 {
    overflow-x: auto;
    padding-bottom: 10px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    transform: translateY(-500px);
    opacity: 0;
    transition: 0.3s ease;
    position: absolute;
  }
}

.header-list .header-item {
  @include vp-767 {
    padding-bottom: 5px;
    border-bottom: 1px solid $color-gainsboro;
  }
}

.header-list.is-active {
  @include vp-767 {
    height: 100vh;
    transform: translateY(0);
    opacity: 1;
    position: relative;
  }
}

.header__info-top {
  margin-bottom: 30px;
  position: relative;
  justify-content: space-between;

  @include vp-1023 {
    flex-direction: column-reverse;
    overflow: hidden;
  }

  @include vp-767 {
    position: unset;
    margin-bottom: 10px;
  }
}

.header__info-top::after {
  position: absolute;
  content: '';
  width: 100%;
  left: 0;
  right: 0;
  bottom: -15px;
  border-bottom: 1px solid $color-light-grey;
}

.header-reg {
  @include vp-1023 {
    margin-bottom: 8px;
  }

  @include vp-767 {
    margin-bottom: 18px;
  }
}

.header-reg .header-item:first-child {
  margin-right: 28px;
  position: relative;
}

.header-reg .header-item:first-child::after {
  position: absolute;
  content: '';
  width: 100%;
  left: 15px;
  right: 0;
  bottom: 1px;
  height: 10px;
  border-right: 1px solid $color-default-black;
}

.header__info-bottom {
  align-items: flex-start;
  justify-content: space-between;

  @include vp-1023 {
    flex-direction: column;
  }

  @include vp-767 {
    position: relative;
  }
}

.header__block {
  min-height: 70px;
  background-color: $color-gainsboro;
  position: relative;
  min-width: 17.5vw;
  margin-right: 23px;

  @include vp-1023 {
    display: none;
  }
}

.header-cart {
  @include vp-1023 {
    padding-left: 22px;
    display: grid;
    grid-template-columns:  max-content max-content max-content;
    grid-column-gap: 30px;
    grid-row-gap: 15px;
    margin-bottom: 12px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    flex-direction: column;
    margin-bottom: 28px;
  }
}

.header-cart .header-item:not(:last-child) {
  margin-bottom: 12px;

  @include vp-1023 {
    margin-bottom: 0;
  }
}

.header-item__cart,
.header-item__chosen,
.header-item__compare {
  position: relative;
}

.header-item__cart::before,
.header-item__chosen::before,
.header-item__compare::before {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
}

.header-item__cart::before {
  background-image: url('../img/svg/icon-cart.svg');
  width: 19px;
  height: 18px;
  left: -20px;
  bottom: 0;
}

.header-item__chosen::before {
  background-image: url('../img/svg/icon-star.svg');
  width: 14px;
  height: 14px;
  left: -16px;
  bottom: 2px;
}

.header-item__compare::before {
  background-image: url('../img/svg/icon-scale.svg');
  background-repeat: no-repeat;
  width: 18px;
  height: 16px;
  left: -18px;
  bottom: 2px;
}

.header__mail span {
  display: none;
}

.header__phone svg,
.header__mail svg {
  width: 24px;
  height: 24px;
  display: none;

  @include vp-767 {
    display: flex;
  }
}

.header__contacts-wrapper {
  position: relative;

  @include vp-1023 {
    display: flex;
    align-items: center;
  }

  @include vp-767 {
    position: unset;
  }
}

.header__contacts {
  @include vp-1023 {
    display: flex;
  }

  @include vp-767 {
    position: absolute;
    right: 0;
    top: 0;
    flex-direction: column;
  }
}

.header__contacts::after {
  border-bottom: 1px solid $color-light-grey;
  bottom: 23px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;

  @include vp-1023 {
    bottom: 30px;
  }

  @include vp-767 {
    display: none;
  }
}

.header__time-wrapper {
  display: flex;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 15px;
  justify-content: space-between;

  @include vp-1023 {
    margin-bottom: 0;
    margin-right: 15px;
    align-items: center;
  }

  @include vp-767 {
    display: none;
  }
}

.header__time,
.header__pnone {
  font-weight: 700;
}

.header__time p,
.header__time-numbers p {
  margin: 0;
}

.header__phone {
  font-size: 25px;
  line-height: 29px;
}

.header__phone span {
  @include vp-767 {
    display: none;
  }
}

.header__cities {
  margin-top: 18px;
  justify-content: space-between;

  @include vp-1023 {
    margin-top: 0;
    margin-left: 18px;
  }

  @include vp-767 {
    margin-left: 0;
  }
}

.header__cities .header-item:first-child {
  margin-right: 20px;
}

.header-item__change {
  position: relative;
}

.header-item__change::before {
  background-image: url('../img/svg/icon-arrow-right.svg');
  background-repeat: no-repeat;
  bottom: 3px;
  content: "";
  height: 7px;
  left: -11px;
  position: absolute;
  right: 0;
  width: 7px;
}

