.header {
  padding-bottom: 20px;
  padding-top: 20px;
  box-shadow: 0px 10px 30px -6px rgba(35, 25, 4, 0.15);

  @include vp-1365 {
    padding-bottom: 15px;
    padding-top: 15px;
  }

  @include vp-1023 {
    padding-bottom: 13px;
    padding-top: 13px;
  }

  @include vp-767 {
    padding-bottom: 6px;
    padding-top: 6px;
    box-shadow: unset;
  }
}

.header__top {
  position: relative;
  margin-bottom: 31px;

  @include vp-767 {
    margin-bottom: 0;
    padding: 10px 0;
  }
}

.header__bottom {
  @include vp-767 {
    height: 0;
  }
}

.header__top:after {
  content: "";
  position: absolute;
  left: 0;
  top: 75px;
  width: 100%;
  border-bottom: 1px solid $color-white-smoke;

  @include vp-1365 {
    top: 70px;
  }

  @include vp-767 {
    display: none;
  }
}

.header__logo-wrapper {
  min-width: 315px;
  max-height: 50px;
  margin-right: 40px;

  @include vp-767 {
    min-width: unset;
    margin-right: 18px;
  }
}

.header__top-wrapper,
.header__bottom-wrapper {
  display: flex;
}

.header__top-wrapper {
  align-items: center;
  position: relative;
}

.header__top-wrapper {
  @include vp-767 {
    flex-direction: column;
  }
}

.header__info-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  width: 100%;

  @include vp-767 {
    display: flex;
    margin-bottom: 15px;
  }
}

.header__info {
  @include vp-1919 {
    display: none;
  }
}

.header__list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
}

.header__item {
  position: relative;
  transition: 0.3s ease;
}

@media (hover: hover), screen and (min-width: 0\0) {
  .header__item:hover,
  .header__item:focus,
  .header__phone:hover,
  .header__phone:focus {
    opacity: 0.5;
  }
}

.header__item:not(:last-child) {
  margin-right: 20px;
}

.header__item:first-child {
  margin-right: 40px;
}

.header__item:nth-child(2):before {
  content: "";
  left: -17px;
  position: absolute;
  top: 9px;
  width: 14px;
  height: 14px;
  background-image: url('../img/svg/icon-star.svg');
  background-repeat: no-repeat;
}

.header__item:after {
  content: "";
  position: absolute;
  left: 0;
  top: 25px;
  width: 70px;
  border-bottom: 1px solid $color-white-smoke;
}

.header__link {
  color: $color-default-black;
  font-size: 14px;
  line-height: 17px;
}

.header__contacts {
  flex-grow: 1;
  text-align: end;
}

.header__text {
  font-size: 14px;
  line-height: 17px;
  margin-top: 0;
  margin-bottom: 5px;

  @include vp-1365 {
    font-size: 12px;
    line-height: 15px;
  }
}

.header__text-wrapper {
  position: relative;

  @include vp-767 {
    display: none;
  }
}

.header__text-wrapper svg {
  position: absolute;
  right: 205px;
  top: 4px;

  @include vp-1365 {
    right: 177px;
    top: 3px;
  }
}

.header__phone {
  font-size: 26px;
  line-height: 32px;
  font-weight: 700;
  position: relative;
  color: $color-default-black;
  transition: 0.3s ease;

  @include vp-1365 {
    font-size: 18px;
    line-height: 22px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 19.5px;
  }
}

.header__phone:before {
  content: "";
  position: absolute;
  left: -20px;
  top: 6px;
  width: 20px;
  height: 20px;
  background-image: url('../img/svg/icon-phone.svg');
  background-repeat: no-repeat;

  @include vp-1365 {
    background-image: url('../img/svg/icon-phone-mobile.svg');
    top: 2px;
    width: 18px;
    height: 18px;
  }

  @include vp-767 {
    display: none;
  }
}

.header__logo-mobile,
.header__buttons-mobile,
.header__title-mobile  {
  display: none;
}

.header__logo-desktop {
  @include vp-767 {
    display: none;
  }
}

.header__logo-mobile,
.header__buttons-mobile,
.header__title-mobile  {
  @include vp-767 {
    display: flex;
  }
}

.header__logo-mobile {
  width: 168px;
  height: 20px;
}

.header__title-mobile {
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  font-weight: 600;
  position: relative;
}

.header__arrow-button {
  content: "";
  left: -5px;
  position: absolute;
  top: 1px;
  width: 10px;
  height: 10px;
  border: none;
  background-color: transparent;
  //background-image: url('../img/svg/icon-mobile-menu.svg');
  background-repeat: no-repeat;
  display: none;
}

.header__buttons-mobile {
  justify-content: space-between;
  width: 100%;
}

.header__button-mobile {
  padding: 8px 15px;
}

.header__toggle--open {
  border: none;
  background-color: transparent;
  padding: 0;
  min-width: 34px;
  min-height: 19px;
}

.header__toggle--close {
  border: none;
  background-color: $color-white-smoke;
  border-radius: 18px;
  padding: 0;
  min-width: 24px;
  min-height: 24px;
  position: absolute;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}

.header__bottom.is-open {
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 10px;
}

.show {
  opacity: 0.5;
  animation: show 0.3s 0.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-duration: 1.5s;
}

@keyframes show {
  0% {
    opacity:0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
