.navigation {
  display: flex;
}

.navigation__list {
  display: flex;
  position: relative;
}

.navigation__list,
.navigation__sublist,
.navigation__subsublist {
  list-style: none;
  margin: 0;
  padding-left: 0;
  align-items: center;

  @include vp-767 {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 0;
    width: 100%;
    position: relative;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-500px);
    transition: all .3s ease;

  }
}

.navigation__sublist,
.navigation__subsublist {
  position: absolute;
  transition: 0.3s ease;
  transform: scaleY(0);
  transform-origin: 0 0;
  padding: 10px;
  background-color: $color-default-white;
  border-radius: 20px;
  border: 2px solid $color-white-smoke;
  width: 100%;
}

.navigation__sublist {
  top: 25px;
  left: 30px;
}

.navigation__subsublist {
  top: -10px;
  left: 90px;
}

.navigation__item,
.navigation__subitem  {
  display: flex;
  align-items: center;
  position: relative;
  transition: 0.3s ease;
  cursor: pointer;

  @include vp-767 {
    margin-bottom: 51.5px;
  }
}

.navigation__subitem:not(:last-child) {
  margin-bottom: 10px;
}

.navigation__item {
  z-index: 10;
  min-height: 26px;

  @include vp-767 {
    width: 100%;
  }
}

.navigation__item.is-active .navigation__link {
  color: $color-orange;
}

.navigation__item.is-active {
  pointer-events: none;
}

.navigation__item:before {
  content: "";
  position: absolute;
  right: -50px;
  top: 0;
  width: 1px;
  height: 28px;
  border-right: 1px solid $color-whisper;

  @include vp-1919 {
    right: -30px;
    height: 15px;
    top: 7px;
  }

  @include vp-767 {
    border-bottom: 1px solid $color-whisper;
    border-right: none;
    width: 100%;
    right: 0;
    top: 40px;
  }
}

.navigation__item:nth-child(n+2):before {
  @include vp-1919 {
    display: none;
  }

  @include vp-767 {
    display: block;
  }
}

.navigation__subitem {
  z-index: 20;
}

.navigation__item--notebook {
  @include vp-1365 {
    display: none;
  }

  @include vp-767 {
    display: flex;
   }
  }

.navigation__item:not(:first-child) {
  margin-left: 85px;
  padding-right: 30px;

  @include vp-1919 {
    margin-left: 53px;
    padding-right: 20px;
  }

  @include vp-1365 {
    flex-shrink: 0;
    margin-left: 34px;
  }

  @include vp-1023 {
    margin-left: 28px;
    padding-right: 10px;
  }

  @include vp-767 {
    margin-left: 0;
  }
}

.navigation__item:nth-child(2) {
  @include vp-1365 {
    margin-left: 78.5px;
  }

  @include vp-1023 {
    margin-left: 57.5px;
  }

  @include vp-767 {
    margin-left: 0;
  }
}

.navigation__item:after {
  content: "";
  position: absolute;
  right: 0;
  top: 8px;
  width: 9px;
  height: 8px;
  background-image: url('../img/svg/icon-arrow-down.svg');
  background-repeat: no-repeat;
  cursor: pointer;

  @include vp-1023 {
    display: none;
  }

  @include vp-767 {
    display: block;
    transform: rotate(-90deg)
  }
}

.navigation__item:first-child:after {
  display: none;

  @include vp-767 {
    display: block;
  }
}

.navigation__link {
  display: flex;
  align-items: center;
}

.navigation__item--catalog .navigation__link span {
  @include vp-1023 {
    display: none;
  }
}

.navigation__item--catalog {
  @include vp-767 {
    display: none;
  }
}

.navigation__link,
.navigation__sublink {
  font-size: 16px;
  line-height: 20px;
  color: $color-default-black;
  width: 100%;
  transition: 0.3s ease;

  @include vp-1919 {
    font-size: 14px;
    line-height: 17px;
  }

  @include vp-1365 {
    font-size: 16px;
    line-height: 19.5px;
  }

  @include vp-1023 {
    font-size: 14px;
    line-height: 17px;
  }
}

.navigation__link svg {
  margin-right: 10px;
}

.navigation__sublink {
  transition: 0.3s ease;
}

@media (hover: hover), screen and (min-width: 0\0) {
  .navigation__link:hover,
  .navigation__link:focus,
  .navigation__sublink:hover,
  .navigation__sublink:focus {
    opacity: 0.5;
  }

  .navigation__item:hover .navigation__sublist,
  .navigation__subitem:hover .navigation__subsublist,
  .navigation__item:focus .navigation__sublist,
  .navigation__subitem:focus .navigation__subsublist {
    transform: scaleY(1);
  }
}

.is-hidden {
  display: none;
}

.navigation__list.is-active,
.navigation__sublist.is-active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: all .3s ease;
  overflow: scroll;
}

