.btn {
  padding: 19px 40px;
  color: $color-default-black;
  background-color: transparent;
  border: 2px solid $color-default-black;
  cursor: pointer;
  border-radius: 100px;
  font-size: 18px;
  line-height: 21.6px;
  transition: all 0.3s;
  font-weight: 700;
}

.btn:disabled {
  opacity: 0.5;
  pointer-events: none;
}

@media (hover: hover), screen and (min-width: 0\0) {
  .btn:hover,
  .btn:focus {
    background-color: $color-default-black;
    color: $color-default-white;
  }
}




