.btn {
  padding: 19px 40px;
  color: $color-default-black;
  background-color: transparent;
  border: 2px solid $color-default-black;
  cursor: pointer;
  border-radius: 100px;
  font-size: 18px;
  line-height: 21.6px;
  transition: all 0.3s;
  font-weight: 700;

  @include vp-1919 {
    font-size: 15px;
    line-height: 18px;
    padding: 16px 40px;
  }

  @include vp-1365 {
    font-size: 14px;
    line-height: 16.8px;
    padding: 17px 30px;
  }
}

.btn:disabled {
  opacity: 0.5;
  pointer-events: none;
}

@media (hover: hover), screen and (min-width: 0\0) {
  .btn:hover,
  .btn:focus {
    background-color: $color-default-black;
    color: $color-default-white;
  }
}

.btn--orange {
  color: $color-default-white;
  background-color: $color-orange;
  border: unset;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 82px;
  padding-right: 60px;
  position: relative;
  background-image: linear-gradient(270deg, #FFCC00 -25.99%, #FFA300 100%);

  @include vp-1919 {
    font-size: 16px;
    line-height: 19.2px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 62px;
    padding-right: 40px;
  }

  @include vp-1365 {
    font-size: 14px;
    line-height: 16.8px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 50px;
    padding-right: 30px;
  }

  @include vp-767 {
    line-height: 17.07px;
  }
}

@media(min-width: 320px) and (max-width: 767px) {
  .btn--orange {
    padding: 18px 30px 18px 30px;
  }
}

.btn--orange span {
  position: relative;
  z-index: 1;
}

.btn--orange:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
  background-image: linear-gradient(360deg, #FFCC00 -25.99%, #FFA300 100%);
  border-radius: 100px;
  opacity: 0;
  transition: opacity 0.5s;
}

@media (hover: hover), screen and (min-width: 0\0) {
  .btn--orange:hover:after,
  .btn--orange:focus:after {
    opacity: 1;
  }
}



