// colors

$color-default-white: #ffffff;
$color-default-black: #000000;
$color-whisper:       #e5e5e5;
$color-orange:        #ffa300;
$color-white-smoke:   #f6f6f6;
$color-nobel:         #9a9a9a;
$color-gainsboro:     #D9D9D9;

//viewports

$vp-320:                            320px;
$vp-375:                            375px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1366:                           1366px;
$vp-1920:                           1920px;
